extends layout

append body
    .container
        // Jumbotron
        .jumbotron
            h1 This is the customer page
        // Example row of columns
        .row
            .col-lg-4
                h2 Title
                p.text-danger
                    | 1234567890
